.members-wrap {
    width: 100%;
    color: white;
}

.member-list {
    display: flex;
}

.members-wrap>.member-details {
    display: flex;
    background-color: rgb(0, 0, 0, 50%);
    margin-top: 20px;
}

.member-details {
    font-size: 1.1em;
}

.member-details .title {
    text-align: center;
}

.member-details>div {
    padding: 20px;
}

.member-details-information {
    flex-basis: 30%;
}

.member-details-biography,
.member-sns-newest {
    flex-basis: 35%;
}

.member-details-information img {
    width: 100%;
    height: auto;
}

.member-details-information-content h1 {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}

.member-details-information-content>div {
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255, 50%);
    padding: 10px 0;
}

.member-details-information-content>div:last-child {
    border: 0;
}

.member-details-information-content>div>div:first-child {
    font-weight: bold;
}

.member-details-information-content>div>div {
    width: 50%;
}

.member-details-information-image {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255, 50%);
}

.member-details-information-image,
.member-details-information-image>img {
    border-radius: 10px;
}

@media screen and (max-width:1024px) {
    .member-sns-newest>iframe {
        min-width: 0 !important;
    }
}

.member-details-biography>section {
    border-bottom: 1px solid rgb(255, 255, 255, 50%);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.member-details-biography h3 {
    margin: 10px 0;
    font-size: 1.2em;
}