.home {
    position: relative;
    width: 100vw;
    height: calc(100vh - 110px);
}

.home-content {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -10%);
    text-align: center;
}

.home-logo {
    width: 150px;
    height: auto;
}

.home .social-list {
    font-size: 1.5em;
}

@media screen and (max-width:821px) {
    .home {
        height: calc(100dvh - 85px);
    }
}