.album-list {
    display: flex;
    flex-wrap: wrap;
}

.album {
    margin: 20px;
    width: calc(100%/3 - 40px);
}

.album>img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
    .album {
        margin: 10px;
        width: calc(100%/2 - 20px);
    }
}